.imel > * {
    display: inline-block;
}

.nev > * {
    display: inline-block;
}

form > div, p {
    margin: 16px;
}

.jelszo_container > * {
    display: inline-block;
}

button {
    color: white;
    background-color: #002b6e;
    float: right;
    border-radius: 32px;
    width: 85px;
    height: 40px;
    font-weight: bold;
    border: none;
}

form {
    width: 600px;
}

input {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ededef;
}

#ev, #honap, #nap {
    padding: 8px;
    margin-right: 12px;
}

.nev input {
    width: 200px;
    margin-right: 16px;

}

.imel input {
    width: 200px;
    margin-right: 16px;

}

.jelszo_container input {
    width: 200px;
    margin-right: 16px;
}

p {
    margin-top: 32px;
    margin-bottom: 32px;
}

input[type="radio"] {
    width: 25px;
    height: 25px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}